<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/template.html">
    <head>
        <title>Step 3 - Complete</title>
    </head>
    <body>
        <h1 layout:fragment="title">Step 3 - Complete</h1>

        <div layout:fragment="content">



            <p>Click here to exit, shutting down the certificate web interface</p>

            <h2>Keystore private key entry</h2>

            <h3>Certificate chain</h3>
            <ol start="0">
                <li th:each="cert : ${privateKeyEntry.certificateChain}">Subject: <code>[[${cert.subject}]]</code>, 
                    Issuer: <code>[[${cert.issuer}]]</code></li>
            </ol>
            <th:block th:if="${#lists.isEmpty(privateKeyEntry.chainErrors)}">
                <p>Use this XML fragment in the Tomcat <code>server.xml</code> file to enable TLS. This is provided
                as an example only and may need to be modified for your installation.</p>
                <textarea spellcheck="false" style="resize: none; overflow: hidden;" onclick="this.focus();this.select()" 
                      readonly="readonly" cols="80" rows="7">[[${connector}]]</textarea>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(privateKeyEntry.chainErrors)}">
                <h2 style="color:red;">Chain errors detected!</h2>
                <ul>
                    <li th:each="error : ${privateKeyEntry.chainErrors}">[[${error}]]</li>
                </ul>
                <p>Browsers will probably give an error if these errors are not corrected.
                    Use the "remove chain" button above to remove the chain and re-attach
                    a correct certificate chain.</p>
            </th:block>
            <p style="color:red" th:if="${privateKeyEntry.selfSigned}">
                Warning: this chain is a self-signed certificate. Browsers will not accept
                this chain as valid. Please attach a valid chain.
            </p>
            <p style="color:red" th:if="${privateKeyEntry.hasIntermediateCertificate()}">
                Warning: chain does not have an intermediate certificate.
            </p>

            <hr/>
            <div>
                <form style="display: inline;" th:action="@{/remove-chain}" method="post">
                    <p  style="display: inline;" ><input type="submit" class="dangerous" disabled="disabled" value="remove chain"/></p>
                </form>
                <form style="display: inline;" th:action="@{/reset-keystore}" method="post">
                    <p  style="display: inline;" ><input type="submit" disabled="disabled" class="dangerous" value="delete private key"/></p>
                </form>
                <p style="display: inline;">are you sure? <input id="dangerCheckbox" type="checkbox"  /></p>
            </div>
        </div>

    </body>
</html>
