<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
    <head>
        <title>Step 2 - Generate CSR</title>
    </head>
    <body>
        <h1 layout:fragment="title">Step 2 - Generate CSR</h1>

        <div layout:fragment="content">
            
            <textarea spellcheck="false" style="resize: none; overflow: hidden;" onclick="this.focus();this.select()" 
                      readonly="readonly" cols="82" th:rows="${csr.lines().count()}">[[${csr}]]</textarea>
            <p><a th:href="@{/csr}">download CSR as PEM file</a></p>
            
            <form th:action="@{/save-response}" enctype="multipart/form-data" method="post">
                <p>Fullchain file upload: 
                    <input id="csrFileInput" name="fullchain" type="file" accept=".pem"/></p>
                <p><input id="saveCsr" disabled="disabled" type="submit" value="Save response"/></p>
            </form>
            
            <p><a href=".well-known">save well-known validation file</a> if it is required by the certificate authority</p>
            
            <form th:action="@{/reset-keystore}" method="post">
                <p><input type="submit" disabled="disabled" class="dangerous" value="delete private key"/>
                are you sure? <input id="dangerCheckbox" type="checkbox"  /></p>
            </form>
        </div>

    </body>
</html>
